<div class="card">
  <img
    src="https://images.pexels.com/photos/17719773/pexels-photo-17719773/free-photo-of-plant-in-flowerpot-on-windowsill.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    alt="post"
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Features </small>
    <small class="bg-light text-info text-center"> View - 100,256</small>

    <h5 class="mt-1"> HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis pariatur animi inventore nulla quaerat accusamus libero praesentium aut. Fugiat sequi natus fuga qui animi, ipsum repudiandae soluta accusamus a.</p>

    <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - SEP 20, 2024</small>
  </div>
</div>
