<section class="bg-theme p-5">
  <h1 class="text-white">General Knowledge</h1>
  <p class="text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, illum ipsum
    recusandae deleniti voluptatum deserunt
  </p>
</section>

<div class="container mt-4 mr-4 p-4">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
