<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <div class="p-5 mt-4 bg-secondary-theme">
      <h1 class="text-center">Terms & Conditions</h1>

      <p>
        Lorem ipsum dolor sit amet Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Architecto mollitia facere, harum obcaecati itaque,
        non totam laudantium consectetur rerum placeat suscipit molestias est
        hic consequuntur ipsa repellat quasi cupiditate similique,
        necessitatibus beatae recusandae sapiente! Labore ab voluptatibus
        assumenda eius dicta vitae sed accusantium harum consequuntur expedita,
        ipsam praesentium consectetur non. consectetur, adipisicing elit.
        Dolorem doloribus sit, libero quis culpa quisquam. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Assumenda mollitia laudantium
        recusandae rerum dignissimos minima esse ullam quisquam. Illum,
        distinctio?
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
        suscipit nostrum, odit tenetur quam dolorum corrupti expedita
        aspernatur? Enim, quod.Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Dolorem doloribus sit, libero quis culpa quisquam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
        mollitia laudantium recusandae rerum dignissimos minima esse ullam
        quisquam. Illum, distinctio? Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Asperiores eos in voluptatum? Adipisci perspiciatis,
        ratione veritatis exercitationem natus tenetur eius officia quisquam
        saepe voluptates! Consequuntur, laborum magni. Recusandae, eligendi?
        Debitis!
      </p>

      <p>
        Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Unde, iure nam nobis officiis at ipsam sequi eos autem labore
        nesciunt provident est dolorem? Sed, maxime. Dolores obcaecati molestiae
        aut ducimus. sit amet consectetur, adipisicing elit. Dolorem doloribus
        sit, libero quis culpa quisquam. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Assumenda mollitia laudantium recusandae rerum
        dignissimos minima esse ullam quisquam. Illum, distinctio?
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4">back to home</button>
      </div>
    </div>
  </div>
</section>
