<div class="card shadow-effect mb-5 mt-5 pd-5">
  <div class="card-body">
    <h4 class="mt-3 mb-3"> Comments (15,256) </h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0"> Ahmed Nour </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eligendi porro optio ab harum assumenda culpa cum perferendis, alias dicta.
      </div>

      <a href="#" class="m-1"> Reply </a>
      <a href="#" class="m-1"> View Reply </a>

      <hr>

    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0"> Ahmed Nour </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eligendi porro optio ab harum assumenda culpa cum perferendis, alias dicta.
      </div>

      <a href="#" class="m-1"> Reply </a>
      <a href="#" class="m-1"> View Reply </a>

      <hr>

    </div>


    <div class="comment-box mt-3">
      <h6 class="mb-0"> Ahmed Nour </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eligendi porro optio ab harum assumenda culpa cum perferendis, alias dicta.
      </div>

      <a href="#" class="m-1"> Reply </a>
      <a href="#" class="m-1"> View Reply </a>

      <hr>

    </div>
  </div>
</div>
