<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/28197211/pexels-photo-28197211/free-photo-of-a-person-riding-a-horse-on-a-dirt-road.jpeg"
          alt="cover image"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center m-1"> Design </small>
          <small class="bg-light text-success text-center m-1">
            Featured
          </small>
          <small class="bg-light text-info text-center m-1">
            Views - 100,250
          </small>
          <small class="bg-light text-warning text-center m-1"> Design </small>

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            incidunt eum? Qui, quisquam reprehenderit! Qui ab deserunt dicta


            modi explicabo aspernatur perferendis ipsa tempore possimus
            accusamus dolorem officiis quae, provident repellendus soluta minima
            voluptatum laudantium quisquam quis. Laudantium, error veritatis
            ipsam cumque quis fugit fugiat dolor voluptas distinctio earum
            minima nesciunt qui magni ad animi voluptatibus, quaerat, reiciendis
            possimus repellendus itaque accusamus perspiciatis excepturi hic
            reprehenderit. Natus, et sed pariatur est consectetur, non numquam
            vero quam accusamus eum dicta, nemo in ratione mollitia veniam iure


            fugiat alias excepturi recusandae! Explicabo et obcaecati quis in
            vel ab sit nesciunt fugit ad! Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Odit quia deserunt asperiores pariatur
            quisquam sunt! Sit at harum quas ducimus voluptatum, quam quaerat
            saepe ex est laudantium maiores molestias.

            Tempora in amet sapiente
            illo, eius asperiores mollitia aliquam a, nesciunt voluptate
            molestiae eaque inventore nemo dignissimos nisi ex minus eum. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Ducimus deserunt,
            consequuntur ipsam, asperiores accusamus perspiciatis vel quaerat
            consectetur distinctio facilis modi eligendi iure nulla sapiente
            repellendus corporis! Provident quae totam asperiores rem fugiat
            eveniet, alias nostrum voluptatibus ipsum iusto harum minus! Soluta
            modi hic labore qui nulla, officiis aperiam placeat ea adipisci,
            nisi delectus consequuntur rerum, provident incidunt unde sunt.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
