@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #026467;
  --secondary-color: #E5F5EA;
  --body-text-color: #4e5571;
  --navbar-footer-color: #efeeee;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
  display: contents;
}

a {
  text-decoration: none;
}

.site-logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--body-text-color);
}

.nav-link {
  color: var(--primary-color);
}

.card {
  border: none;
  max-width: 100%;
  color: var(--body-text-color);
  box-shadow: 0px 0px 33px -10px rgba(66, 108, 248, 0.5);
}



.bg-theme {
  background-color: var(--primary-color);
}

.bg-secondary-theme{
  background-color: var(--secondary-color);
}

.bg-primary-theme{
  background-color: var(--primary-color);
}

.btn-info {
  background-color: #21a3e3;
  color: white;
}


.form-group {
  margin-bottom: 20px;

  label {
    margin-left: 5px;
  }
}
